{{>header}}


<div class="ui segment">
	<i class="envelope icon"></i> <p>SpringBoot n°2</p>
	
	<a href="/orgas/new" class="ui grey button"><i class="plus square icon"></i>Ajouter une organisation</a>
	
	<table class="ui bottom attached table">
		<thead>
	      	<tr>
		      <th>Id</th>
		      <th>Name</th>
		      <th>Domain</th>
		      <th>Aliases</th>
		      <th></th>
	    	</tr>
	    </thead>
	    <tbody>
	    {{#orgas}}
	     <tr>
	        <td>{{id}}</td>
	        <td>{{name}}</td>
	        <td>{{domain}}</td>
	        <td>{{aliases}}</td>
	        <td>
	        	<a href="/orgas/display/{{id}}" class="ui basic circular icon button">
	        		<i class="ui eye grey icon"></i>
	        	</a>
	        	<a href="/orgas/edit/{{id}}" class="ui basic circular icon button">
	        		<i class="ui edit grey icon"></i>
	        	</a>
	        	<a href="/orgas/delete/{{id}}" class="ui basic circular icon button">
	        		<i class="ui times red icon"></i>
	        	</a>
	        </td>
	      </tr>
	    {{/orgas}}
	      
	    </tbody>
	    <tfoot>
	      	<tr>
		      <th></th>
		      <th></th>
		      <th></th>
		      <th></th>
		      <th>
			      <div class="ui icon input">
						<i class="search icon"></i>
						<input type="text" placeholder="Search...">
					</div>
		      </th>
	    	</tr>
	    </tfoot>
  	</table>
</div>

{{#org}}
<div class="ui red message grid">
	<div class="one wide column">
		<i class="info huge circle icon"></i>
	</div>
	<div class="fifteen wide column">
		<p>Confirmation de la suppression</p>
		<p>Confirmez-vous la suppression de '{{domain}}'?</p>
		
		<div class="ui clearing divider"></div>
		
		<div class="right floated">
			<a href="/orgas/index" class="ui button">Annuler</a>
			<a href="/orgas/confirmDelete/{{id}}" class="ui button negative">Confirmer</a>
		</div>
	</div>
</div>
{{/org}}

{{>footer}}